run = "python run.py"
entrypoint = "run.py"

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "."

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
run = ["python", "run.py"]
deploymentTarget = "cloudrun"
